<div>
<section >
    <div class="container py-5 h-50">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-8 col-xl-6">
          <div class="card rounded-3">
            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img3.webp"
              class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
              alt="Sample photo">
            <div class="card-body p-4 p-md-5">
              <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Table Booking Info</h3>
  
              <form class="px-md-2" (ngSubmit)="bookTable()">

              
  
                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Name</label>
                  <input type="text"  id="form3Example1q" class="form-control"  id="name" name="name" [(ngModel)]="booktable.name" placeholder="Enter Full Name"  />
                </div>

                <div class="form-outline mb-4">
                    <label class="form-label" for="form3Example1q">Mobile Number</label>

                    <input type="text" id="form3Example1q" class="form-control"  id="mobilenumber" name="mobilenumber" [(ngModel)]="booktable.mobilenumber" placeholder="Enter Mobile Number" />
                  </div>
  
                <div class="row">
                  <div class="col-md-6 mb-4">
  
                    <div class="form-outline datepicker">
                      <input type="date" class="form-control" id="exampleDatepicker1"  id="date" name="date" [(ngModel)]="booktable.date" />
                      <label for="exampleDatepicker1" class="form-label">Select a date</label>
                    </div>
  
                  </div>
                  <div>
                  <div class="col-md-6 mb-4">
                    <label for="exampleDatepicker1" class="form-label" placeholder="Gender"> Select Gender</label>

                    <select class="select"  id="gender" name="gender" [(ngModel)]="booktable.gender" style="height: 20px; width: 150px;">
                    
                      <option value="Gender">Gender</option>
                      <option value="Female">Female</option>
                      <option value="Male">Male</option>
                      <option value="Other">Other</option>
                    </select>
  
                  </div>
                </div>
                <div>

                  <div class="col-md-6 mb-4">
                    <label for="exampleDatepicker1" class="form-label">Select People</label>

                    <select class="select"  id="people" name="people" [(ngModel)]="booktable.people" style="height: 20px; width: 150px;">
                      <option value="0"> people </option>
                      <option value="2">2</option>
                      <option value="4">4</option>
                      <option value="6">6</option>
                      <option value="More">More</option>

                    </select>
  
                  </div>
                </div>
                </div>
  
                <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="section" value="Ac Section" id="section" name="section" [(ngModel)]="booktable.section">
                    <label class="form-check-label" for="inlineRadio1">AC Section</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="section" value="Non Ac Section" id="section" name="section" [(ngModel)]="booktable.section">
                    <label class="form-check-label" for="inlineRadio2">Non AC section</label>
                  </div>
                  <div class="form-check form-check-inline">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="section" value="Liquer Section" id="section" name="section" [(ngModel)]="booktable.section" >
                    <label class="form-check-label" for="inlineRadio3">Liquer Section</label>
                  </div>
  
                <div class="row mb-4 pb-2 pb-md-0 mb-md-5">
                  <div class="col-md-6">
  
                   
  
                  </div>
                </div>
                <!-- <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button> -->

                <button type="submit" class="btn btn-success btn-lg mb-2">Submit</button>
  
              </form>

            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

