
    <div class="container py-5 h-100">
     
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div class="row g-0">
              <!-- <div class="col-xl-6 d-none d-xl-block">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/img4.webp"
                  alt="Sample photo" class="img-fluid"
                  style="border-top-left-radius: .25rem; border-bottom-left-radius: .25rem;" />
              </div> -->
              <div class="col-xl-6">
                <div class="card-body p-md-5 text-black">
                  <h3 class="mb-5 text-uppercase"> Customer registration form</h3>
              
                 <form (ngSubmit)="userRegister()">
                    <div class="col-md-6 mb-4">
                      
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m">First name</label>

                        <input type="text" id="form3Example1m" required minlength="4" class="form-control form-control-lg" id="firstname" name="firstname" [(ngModel)]="register.firstname"/>
                        
                      </div>
                    </div>
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1n">Last Name</label>

                        <input type="text" id="form3Example1n" id="lastname" class="form-control form-control-lg" id="lastname" name="lastname"  [(ngModel)]="register.lastname"/>
                      </div>

                    </div>

                  

                  <div class="col-md-6 mb-4">
                    <div class="form-outline">
                      <label class="form-label" for="form3Example1n">UserName</label>
                      <input type="text" id="form3Example1n"  class="form-control form-control-lg" id="emailId" name="emailId" [(ngModel)]="register.emailId" />
                    </div>
                  </div>
  

                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m1">Password</label>
                        <input type="password" id="form3Example1m1"  class="form-control form-control-lg" id="password" name="password" [(ngModel)]="register.password" />
                        
                      </div>
                    
                      
                    <div class="col-md-6 mb-4">
                      <div class="form-outline">
                        <label class="form-label" for="form3Example1m1">mobilenumber</label>
                        <input type="text" id="form3Example1m1"  class="form-control form-control-lg" id="phonenumber" name="phonenumber" [(ngModel)]="register.phonenumber" />
                        
                      </div> 
                  </div>
                 
              
                
              
                  
  
                  <!-- <div class="d-md-flex justify-content-start align-items-center mb-4 py-2">
  
                    <h6 class="mb-0 me-4">Gender: </h6> -->
  
                    
  
                  <!-- <div class="row">
                    <div class="col-md-6 mb-4">
  
                      <select class="select">
                        <option value="1">State</option>
                        <option value="2">Option 1</option>
                        <option value="3">Option 2</option>
                        <option value="4">Option 3</option>
                      </select>
  
                    </div>
                    <div class="col-md-6 mb-4">
  
                      <select class="select">
                        <option value="1">City</option>
                        <option value="2">Option 1</option>
                        <option value="3">Option 2</option>
                        <option value="4">Option 3</option>
                      </select>
   -->
                    <!-- </div> -->
                  <!-- </div> -->
  
  
                  <div class="d-flex justify-content-end pt-3">
                    <button type="button" class="btn btn-light btn-lg">Reset all</button>
                    <button type="submit" class="btn btn-warning btn-lg ms-2">Submit form</button>
                    <button type="button" class="btn btn-outline-danger" routerLink="/login"> login</button>
                    <a href="login"></a>
                  </div>
                
                </div>
              
              </form>
              </div>
            
            </div>
          </div>
        
        </div>
      
      </div>
    
    </div>
  

